<% if(success && success.length) {%>

<div
  class="alert border-success bg-white alert-dismissible alert-partial fade show"
  role="alert"
  style="font-family: 'Montserrat', sans-serif"
>
  <%=success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<% } %> <% if(error && error.length) {%>

<div
  class="alert border-danger bg-white alert-dismissible fade show alert-partial fade show"
  role="alert"
  style="font-family: 'Montserrat', sans-serif"
>
  <%=error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<% } %>
