#post_card pre {
  font-size: 2rem;
  line-height: normal;
  font-family: "Kanit", sans-serif;
}

#work {
  margin-top: 5rem;
}
.hidden {
  display: none;
}
.input-reply {
  margin: 2rem 0;
  display: flex;
}

#delete-reply {
  cursor: pointer;
  user-select: none;
}
.heart-div-click {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48 !important;
}

.heart-div-click span {
  color: rgb(233, 62, 62) !important;
}

.heart-div-unclick {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.heart-div-unclick span {
  color: rgb(87, 87, 88);
}

#heart {
  cursor: pointer;
  user-select: none;
}
.replies-container {
  margin-bottom: 4rem;
}
#delete-reply {
  color: rgb(233, 62, 62);
}

#replies {
  overflow: scroll;
  max-height: 250px;
}
