#post_card pre {
  font-size: 2rem;
  line-height: normal;
  font-family: "Kanit", sans-serif;
}

#work {
  margin-top: 5rem;
}
.hidden {
  display: none;
}
.input-reply {
  margin: 2rem 0;
  display: flex;
}

#delete-reply {
  cursor: pointer;
  user-select: none;
}

#replies {
  overflow: scroll;
  max-height: 250px;
}
