html,
body {
  background-color: #f1f5f8;
  height: 100 vh;
  margin: 0;
}

#main-body {
  min-height: calc(100vh - 60px);
  position: absolute;
}

#left-sidebar,
#right-sidebar {
  background-color: white;
}

#center-bar {
  overflow: scroll;

  height: 700px;
}

#flash-container {
  min-height: 100px;
}

#explore-tag {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat";

  border-radius: 8px;
  border: 2px solid rgb(215, 224, 229);
}

#explore-tag {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#user-details {
  background-color: #f1f5f8;
  border: 2px solid rgb(215, 223, 224);
  border-radius: 10px;
  margin-top: 5rem;
  min-height: 150px;
}

.d-flex {
  padding-top: 1rem;
}

#circle {
  height: 90px;
  width: 90px;
  background-color: #2d2d2d;
  border-radius: 50%;
  display: inline-block;
}

.text-heading {
  background-color: rgb(0, 0, 0);
  margin-top: 1rem;
  border-radius: 10px;
}

.text-heading h4 {
  color: white;
  padding: 3px;
  font-size: 1rem;
}

#user-posts {
  max-height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f1f5f8;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-btn {
  color: rgb(19, 218, 169);
}

.delete-btn {
  color: rgb(233, 62, 62);
}

#create-post {
  background-color: #f1f5f8;
  border: 2px solid rgb(215, 223, 224);
  border-radius: 10px;
  margin-top: 5rem;
  height: 100px;
}
#message-text-edit {
  min-height: 10em;
}

#users {
  max-height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f1f5f8;
}

.heart-div-click {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48 !important;
}

.heart-div-click span {
  color: rgb(233, 62, 62) !important;
}

.heart-div-unclick {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.heart-div-unclick span {
  color: rgb(87, 87, 88);
}

#heart {
  cursor: pointer;
  user-select: none;
}
pre {
  /* min-height: 10em; */
  overflow-x: auto;
  white-space: pre-wrap;
}
