/* body {
  background-color: #f1f5f8;
} */

.row {
  display: flex;
}

#centerbar {
  flex: 1;

  background-color: #f1f5f8;
}

#image-container img {
  margin: 2rem;
}

/* #left-sidebar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
} */

#name-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.7rem;
}

#username-container h3 {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(64, 102, 169);
}

#follow-container {
  margin-top: 3rem;
}

#follow-container h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

#follow-btn-container {
  margin: 3rem;
}

#follow-btn-container button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  padding-left: 30px;
  padding-right: 30px;
}

#post h4,
p,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.card-title.d-flex h4 {
  font-weight: bold;
}

#post-interactions h5 {
  font-size: 1rem;
}

#post {
  background-color: white;
  transition: all 0.1s;
}

#post:hover {
  background-color: #f2f3f5;
}

@media (min-width: 992px) {
  #left-sidebar {
    height: 100vh;
    position: fixed;
  }
  #image-container {
    display: flex;
    justify-content: start;
  }
  #name-container h2 {
    font-size: 2.3rem;
  }
  #centerbar {
    margin-left: 25%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #centerbar {
    margin-left: calc((100% / 3));
  }
}

@media (max-width: 576px) {
  #name-container h2 {
    font-size: 2rem;
  }
}
