<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to Our Social Media App</h1>

    <a href="/social-media/login">Login</a>
    <a href="/social-media/signup">Signup</a>
  </body>
</html>
