<% layout("layout/boilerplate")%>

<h1>Welcome to Our Social Media App</h1>

<a href="/login">Login</a>
<br />
<a href="/register">Register</a>
<br />
<a href="/social-media">Main Page , only for registered users</a>
<br />
